
#trackerapp
  padding: $base * 2

#new-duration,
.task-duration
  width: 10%

#new-description,
.task-description
  width: 60%

#new-project,
.task-project
  width: 20%

#save-new-task,
  width: 9%

header,
#task-form,
#task-list
  margin: $base 0

#task-list li
  padding: ($base / 2) 0
  .task-edit,
  .task-remove,
  .task-update
    display: none

  &:hover
    .task-edit,
    .task-remove
      display: inline

  &.editing
    background: $subtle
    .task-edit,
    .task-remove
      display: none
    .task-update
      display: inline

.task-thing
  display: inline-block
