<!doctype html>
<html lang="en_CA">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}track time{% endblock %}</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="stylesheet" media="screen, projection" href="{{ url_for('static', filename='css/screen.css') }}" />
    <link rel="stylesheet" media="print" href="{{ url_for('static', filename='css/print.css') }}" />
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/zepto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/json2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>