{% extends 'base.html' %}

{% block content %}

  <div id="trackerapp">

    <div id="time-filter">
      <p>
        Tasks completed
        <a class="filter filter-end" href="#">today</a>
        since
        <a class="filter filter-start" href="#">yesterday</a>
        on
        <a class="filter filter-projects" href="#">everything</a>
        took
        <span class="stats-minutes">0</span>
        minutes.
      </p>
    </div>

    <div id="task-form">
      <form action="#", method="post">
        <input type="text" id="new-duration" placeholder="time" />
        <input type="text" id="new-project" placeholder="project" />
        <input type="text" id="new-description" placeholder="description" />
        <!-- <input type="date" id="new-date" placeholder="date" /> -->
        <!-- <button id="save-new-task">new</button> -->
      </form>
    </div>

    <ul id="task-list">
    </ul>

  </div>

  <div id="templates">
    {% raw %}
    <div id="task-template">
      <span class="task-thing task-duration">{{ duration }}</span>
      <a class="task-thing task-project" href="#{{ project.href }}">{{ project.name }}</a>
      <span class="task-thing task-description">{{ description }}</span>
      <a class="task-edit" href="#edit-task">e</a>
      <a class="task-remove" href="#remove-task">&times;</a>
      <a class="task-update" href="#update-task">save</a>
    </div>
    {% endraw %}
  </div>

{% endblock %}
